body {
	margin: 0;
	padding: 0;scroll-behavior: smooth;
	font-family: arial;overflow-x: hidden;
}
.loading {
    width: 100%;z-index: 100; height: 100%;
    background-color:grey; position: fixed;
}
.loading_style {
    border: 10px solid white; width: 60px; height: 60px;margin: 100px auto;
    border-top: 10px solid  rgba(0, 0, 0, 1.0);animation: spin linear 3s;border-radius: 50%;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }25%{
      transform: rotate(90deg);
    }
    50%{transform: rotate(180deg);}
    75% {
      transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.mainlight {
  background-color: black;
}
.color {
  text-shadow: 3px 5px 7px rgba(0, 0, 0, .2);
  color: orange;
}
.logo {
	width: 150px;margin-left: 20px;
}
.sun {
  width: 30px;display: flex; justify-content: right;
  margin-right: 20px;border-bottom: 2px solid black;
}
.Navbar {
	display: flex;position: fixed;left: 0;right: 0;top: 0;
	box-shadow: 3px 4px 6px rgba(0, 0, 0, .2);z-index: 100;
	background: white;padding: 2px;align-content: center;justify-content: space-between;
}
.Navbar_ul {
	display: flex;
}
.Navbar_ul li {
	padding: 10px;list-style: none;margin-right: 10px;
}
.Navbar_ul li .active {
	background: skyblue; padding: 10px; border-radius: 8px;
}
.Navbar_ul li a {
	color: black;font-weight: bold;text-decoration: none;
}
.Navbar_ul li a:hover {
	text-decoration: underline;
}
.hamburger {
 flex-direction: column;
  cursor: pointer;
  border-radius: 4px;
  padding:5px;
  border: 1px solid gray;
  z-index: 20;
    display:  none;
}
.line {
	width: 23px; height: 3px; margin-bottom: 1.8px;
	background: black;margin-top: 1px;
}
.section1 {
  margin-top: 74px;
  background:  linear-gradient(-270deg, grey, white); justify-items: flex-end;
  padding: 8px;display: flex; justify-content: space-evenly;

}
.button {
  padding: 5px; height: 33px; border: .2px solid darkblue; color: black;
  border-radius: 5px;background-color: skyblue;
}
.title {
  font-family: 'Comic Neue', cursive; font-weight: bold;font-size: 33px;
}
.img1 {
opacity: .8;
}
.img1:hover {
  opacity: 1;
  
}
.img:hover {
  box-shadow: 8px 9px 11px rgba(0, 0, 0, .1);
}
.img { background: white; border-radius: 50%;
  box-shadow: 5px 7px 8px rgba(0, 0, 0, .2);
  float: right; width: 400px; height: 410px;border: 15px solid white;
}
.caption1 {
  margin-top: 50px;
}
.button-sec {
  margin-top: 4px;
  width: 45px; height: 45px; background: whitesmoke; border: .1px solid gray;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, .1); border-radius: 3px;
  }
 .grid-button .button-sec  {
    display: flex; margin: 5px;
  }
  .grid-button {
    display: flex;
  }
  .button-sec img {
  width: 45px; height: 45px; align-content: center; 
}
.section2 {
  background-position: center;background-size: cover;
  padding: 15px;background-image: url("../img/backgrounds.JPG");
}
.button-sec:hover {
  background: orange;
}
.img2 {padding: 10px;
  float: right; width: 500px;
}
.sec-caption2 {
  margin: 50px;margin-top: 90px;
}
.section3 {
  clear: both;margin-top: 40px;
}
.container-myproject {
  display: flex; justify-content: space-evenly;
}
.myproject {
  width: 290px;height: 300px; background: white; border: .1px solid grey;
  box-shadow: 4px 5px 6px rgba(0, 0, 0, .1);border-radius: 10px;text-align: center;
}
.myproject-img {
  width: 280px; height: 160px;
}
.button-about {
  width: 250px; height: 33px; border: none; border-radius: 5px;
  background: aliceblue;
}
.about {margin-top: -20px;
  height: 137px;background-color: skyblue;border-radius: 10px;
}
.container-organisasi {
  display: flex; justify-content: space-around;
}
.organisasi {background: yellowgreen;
  width: 150px; height: 150px; border-radius: 50%;
  box-shadow: 4px 5px 8px rgba(0, 0, 0, .1);
}
.org-img {
  width: 140px; height: 150px; border-radius: 50%;
}


.sec-riwayatpendidikan {
  text-align:  center;
}
.footer {
  padding: 10px; background: gray; 
}
.footer_ul {
  padding: 10px;
 display: flex; justify-content: space-evenly;
}
.footer_ul .l {
 padding: 10px;
}
.section5 {
  margin: 20px;
}
.email {
  width: 600px; height: 33px; border: .1px solid grey; border-radius: 8px;
  margin: 10px;
}
.pesan {
  margin: 10px;
  width: 600px; height: 100px; border: .1px solid grey; border-radius: 8px;
}
.send {
  width: 600px; height: 33px;border: .1px solid grey; border-radius: 8px;
  margin: 10px;
}
.timeline {
  position: relative;
  max-width: 1200px;background-color: grey;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 43%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 20px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -30px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 98%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
@media(max-width: 768px) {
	.Navbar_ul {
		display: none;
	}
  .sun {
    margin-right: none;
  }
	.Navbar_ul.open {
        position: fixed;
        right: 0;
        background: white;
       z-index: 20;background-image: url();
        height: 86vh;
        width: 45%;
        justify-content: space-around;
        top: 0;margin-top: 60px;
        align-items: center;
        animation: 2s all ease-in-out;
     display: flex;
     flex-direction: column;
  }
  
  .hamburger {margin-right: 10px;
    display: flex; margin-top: 21px;margin-bottom: 21px;
  }
  .img1 {
    display: flex; justify-content: center;
  }
  .img {
    width: 350px; height: 350px;

  }
  .section1 {
    text-align: center;
    display: block; 
  }.grid-button {
    justify-content: center;
  }
  .sec-img2 {
  justify-content: center; display: flex;
}
  .section2 {
    text-align: center;
  }
  .section3 {
    text-align: center;
  }
  .container-myproject {
    margin: 20px;margin-left: 15%;
    display: block; justify-content: center;padding: 10px;
  }
  .myproject {
    margin: 20px;
  }
  .container-organisasi {
    display: block; justify-content: center;
    margin-left: 30%;
  }
  .organisasi {margin-top: 90px;
    margin: 30px;
  }
  .footer_ul {
    display: block;
  }
  .email {
    width: 90%;
  }
  .pesan {
    width: 90%;
  }
  .send {
    width: 90%;
  }
}